<footer>
    <div class="footer-box">
        <div id="footer-menu">
            <div id="footer-logo">
                <div id="footer-logo-ci">
                    HANBIT<br>PLATE
                </div>
                <div id="footer-logo-divider"></div>
                <div id="footer-logo-text">
                    Eat, Share, Be fat.
                </div>
            </div>
            <div id="footer-menus">
                <ul>
                    <li>회사소개</li>
                    <li>한빛플레이트 채용</li>
                    <li>이용약관</li>
                    <li>커뮤니티 가이드라인</li>
                    <li>브랜드 가이드라인</li>
                    <li>한빛플레이트 포 비즈니스</li>
                </ul>
                <ul>
                    <li>문의하기</li>
                    <li>홀릭 소개</li>
                    <li>개인정보 이용약관</li>
                    <li>투자 정보</li>
                    <li>공지사항</li>
                </ul>
            </div>
            <div id="footer-sns">
                <ul>
                    <li><i class="fa fa-google-plus"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                </ul>
            </div>
        </div>
        <div id="footer-location">
            <ul>
                <li>인기지역:</li>
            </ul>
        </div>
        <div id="footer-info">
            <div id="footer-company">
                ㈜ 한빛플레이트 대표이사: {{ceoName}} | 사업자 등록번호: {{bizNo}} | {{bizAddr}}<br>
                © 2016 HanbitPlate, Inc. All rights reserved.
            </div>
            <div id="footer-language">
                <ul>
                    <li class="active">한국어</li>
                    <li>English</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="js/vendor/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/{{jsName}}.js"></script>
</body>
</html>
