@import 'lib/include.all.less';

@import 'common.css';

.search-contents {
    position: relative;
    width: 100%;
    height: 100%;
}

@search-info-width: 400px;

.search-list {
    display: inline-block;
    width: calc(~"100% -" @search-info-width);
    vertical-align: top;
}

.search-list>.inner {
    position: relative;
    width: 800px;
    @margin-auto-width();
    padding: 20px 20px 50px 20px;
}

.search-list section {
    position: relative;
}

@section-title-padding-height: 20px;

section.title {
    padding: @section-title-padding-height 0px;
}

#search-title {
    color: @main-color;
    font-size: 24px;
}

#filter {
    position: absolute;
    top: @section-title-padding-height;
    right: 0px;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
}

#filter>i {
    font-size: 22px;
    margin-right: 5px;
}

section.category {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

section.category>ul {
    padding: 10px 0px;
}

section.category>ul>li {
    display: inline-block;
    padding: 0px 7px;
    color: #999;
    cursor: pointer;
    border-right: solid 1px #ddd;
    line-height: 100%;
}

.stores>li {
    display: inline-block;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}

.stores.big>li {
    border-bottom: 0;
}

.stores.big>li:nth-child(odd) {
    padding-right: 15px;
}

.stores.big>li:nth-child(even) {
    padding-left: 15px;
}

@store-img-size: 100px;
@store-img-margin-right: 20px;

.store-img {
    display: inline-block;
    width: @store-img-size;
    height: @store-img-size;
    background-size: cover;
    margin-right: @store-img-margin-right;
    vertical-align: top;
}

.stores.big .store-img {
    width: 100%;
    height: 239px;
}

.store-text {
    display: inline-block;
    width: calc(~"100% -" @store-img-size + @store-img-margin-right);
    vertical-align: top;
}

.stores.big .store-text {
    width: 100%;
}

.store-name, .store-score {
    display: inline-block;
}

.store-name {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    color: #555;
    line-height: 150%;
}

.store-score {
    color: @main-color;
    font-size: 22px;
    vertical-align: top;
    line-height: 150%;
}

.store-info {
    color: #999;
    line-height: 100%;
}

.store-views, .store-reviews {
    display: inline-block;
    color: #999;
    font-size: 10px;
    line-height: 250%;
}

.store-reviews {
    margin-left: 5px;
}

.store-views>i, .store-reviews>i {
    margin-right: 5px;
}

@paging-circle-size: 50px;
@paging-circle-border: 1px;
@paging-inactive-color: #aaa;

.paging {
    padding: 20px 0px 40px 0px;
}

.paging>li {
    display: inline-block;
    width: @paging-circle-size;
    height: @paging-circle-size;
    border: solid @paging-circle-border @paging-inactive-color;
    border-radius: @paging-circle-size/2;
    margin-right: 10px;
    text-align: center;
    line-height: (@paging-circle-size)-@paging-circle-border*2;
    font-size: 20px;
    color: @paging-inactive-color;
    cursor: pointer;
}

.paging>li.active {
    border-color: @main-color;
    color: @main-color;
}

.search-info {
    position: relative;
    display: inline-block;
    width: @search-info-width;
    min-height: 100%;
    background-color: #f6f6f6;
    padding-bottom: 40px;
}

#map {
    width: 100%;
    height: 485px;
}

#map-control {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.section-title {
    color: @main-color;
    font-size: 22px;
    line-height: 70px;
}

.toplist, .surrounds {
    display: inline-block;
    width: 100%;
    padding: 0px 20px;
    vertical-align: top;
}

.toplist .section-contents>ul>li {
    width: 100%;
    height: 165px;
}

.img-box {
    position: relative;
    @fill();
    background-size: cover;
    color: #fff;
}

.img-box-text {
    @abs-center();
    white-space: nowrap;
    text-align: center;
}

.img-box-title {
    font-size: 20px;
    line-height: 170%;
}

.surrounds .section-contents>ul>li {
    display: inline-block;
    border: solid 1px #ccc;
    border-radius: 15px;
    background-color: #fff;
    padding: 0px 15px;
    line-height: 30px;
    margin: 5px;
}

.search-filter-layer {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.search-filter-box {
    position: relative;
    width: calc(~"100% -" @search-info-width);
    height: 100%;
}

.search-filter {
    position: relative;
    width: 800px;
    height: 100%;
    @margin-auto-width();
    background-color: white;
}

.sf-filters {
    width: 100%;
    height: calc(~"100% - 80px");
    overflow-y: auto;
    padding: 0px 20px;
}

.sf-filters>li {
    padding: 15px 0px;
    border-bottom: solid 1px #ddd;
}

.sf-filters>li:last-child {
    border-bottom: 0;
}

.filter-title {
    position: relative;
    color: #333;
    font-size: 20px;
}

.filter-multiple {
    @abs-vmiddle();
    right: 0px;
    font-size: 14px;
    color: #aaa;
}

.filter-order .select,
.filter-parking .select {
    padding: 0px 90px;
}

.filter-price .select {
    padding: 0px 70px;
}

.filter-order .select>li,
.filter-parking .select>li {
    display: inline-block;
    width: calc(~"50% - 20px");
    margin: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    border: solid 2px #aaa;
    border-radius: 20px;
    color: #aaa;
}

@price-circle-size: 90px;

.filter-price .select>li {
    position: relative;
    display: inline-block;
    width: 25%;
    height: @price-circle-size;
}

.price-circle {
    @abs-center();
    width: @price-circle-size;
    height: @price-circle-size;
    border: solid 2px #aaa;
    border-radius: @price-circle-size/2;
    color: #aaa;
    line-height: @price-circle-size;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}

@price-circle-gap: 5px;

.price-circle.circle1 {
    left: calc(~"50% + " @price-circle-gap*1);
}
.price-circle.circle2 {
    left: calc(~"50% + " @price-circle-gap*2);
}
.price-circle.circle3 {
    left: calc(~"50% + " @price-circle-gap*3);
}

.select>li.active,
.select>li.active .price-circle {
    border-color: @main-color;
    color: @main-color;
}

.sf-buttons {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
}

.sf-buttons>button {
    width: 50%;
    height: 100%;
    color: white;
    font-size: 20px;
    border: 0;
}

.sf-buttons .cancel-filter {
    background-color: #aaa;
}

.sf-buttons .apply-filter {
    background-color: @main-color;
}
