{{set root="."}}
{{> header title='한빛 추천 맛집' cssName='hanbit.picks'}}
<div class="hp-contents">
    <input type="text" id="leftNum">

    <select id="op">
        <option value="plus">+</option>
        <option value="minus">-</option>
        <option value="multiply">*</option>
    </select>

    <input type="text" id="rightNum">

    <button id="calc">계산</button>
    Result = <span id="result">?</span>
</div>
{{> footer jsName='hanbit.picks'}}
