{{> header title='검색결과' cssName='search'}}
<div class="hp-contents">
    <div class="search-contents">
        <div class="search-list">
            <div class="inner">
                <section class="title">
                    <div id="search-title">
                        이태원 맛집 인기 검색순위
                    </div>
                    <div id="filter">
                        <i class="fa fa-sliders"></i>
                        필터
                    </div>
                </section>
                <section class="category">
                    <ul>
                        <li>한식</li>
                        <li>분식</li>
                        <li>양식</li>
                    </ul>
                </section>
                <section class="list">
                    <ul class="stores">
                        <li>
                            <div class="store-img" style="background-image: url(img/main_section03_01.jpg)"></div>
                            <div class="store-name">
                                오월의종 (본점)
                            </div>
                            <div class="store-score">
                                4.5
                            </div>
                            <div class="store-info">
                                이태원/한남동 - 베이커리
                            </div>
                            <div class="store-views">
                                <i class="fa fa-eye"></i>
                                22,149
                            </div>
                            <div class="store-reviews">
                                <i class="fa fa-pencil"></i>
                                87
                            </div>
                        </li>
                        <li>
                            <div class="store-img" style="background-image: url(img/main_section03_01.jpg)"></div>
                            <div class="store-name">
                                오월의종 (본점)
                            </div>
                            <div class="store-score">
                                4.5
                            </div>
                            <div class="store-info">
                                이태원/한남동 - 베이커리
                            </div>
                            <div class="store-views">
                                <i class="fa fa-eye"></i>
                                22,149
                            </div>
                            <div class="store-reviews">
                                <i class="fa fa-pencil"></i>
                                87
                            </div>
                        </li>
                    </ul>
                    <ul class="paging">
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="search-info">
            info
        </div>
    </div>
</div>
{{> footer jsName='search'}}
