{{set root="."}}
{{> header title='검색결과' cssName='search'}}
<div class="hp-contents">
    <div class="search-contents">
        <div class="search-list">
            <div class="inner">
                <section class="title">
                    <div id="search-title">
                        <span class="search-keyword"></span> 맛집 인기 검색순위
                    </div>
                    <div id="filter">
                        <i class="fa fa-sliders"></i>
                        필터
                    </div>
                </section>
                <section class="category">
                    <ul>
                        <li>한식</li>
                        <li>분식</li>
                        <li>양식</li>
                    </ul>
                </section>
                <section class="list">
                    <ul class="stores big">
                    </ul>
                    <ul class="paging">
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="search-info">
            <section id="map"></section>
            <div id="map-control">
                <i class="fa fa-arrow-left"></i>
                지도 크게
            </div>
            <section class="toplist">
                <div class="section-title">
                    관련 탑리스트
                </div>
                <div class="section-body">
                    <div class="section-contents">
                        <ul>
                            <li>
                                <div class="img-box" style="background-image: url(img/main_section01_01.jpg)">
                                    <div class="layer-darker">
                                        <div class="img-box-text">
                                            <div class="img-box-title">
                                                이태원 맛집 베스트 50곳
                                            </div>
                                            <div class="img-box-desc">
                                                "여기가 미국인지 한국인지..."
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="surrounds">
                <div class="section-title">
                    이태원 주변 지역
                </div>
                <div class="section-body">
                    <div class="section-contents">
                        <ul>
                            <li>#경리단길</li>
                            <li>#한남동</li>
                            <li>#한강진</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="search-filter-layer">
            <div class="search-filter-box">
                <div class="search-filter">
                    <ul class="sf-filters">
                        <li class="filter-order">
                            <div class="filter-title">
                                검색 필터
                            </div>
                            <div class="filter-contents">
                                <ul class="select select-single">
                                    <li class="active">평점순</li>
                                    <li>인기순</li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-price">
                            <div class="filter-title">
                                가격/1인당
                                <div class="filter-multiple">
                                    중복 선택 가능
                                </div>
                            </div>
                            <div class="filter-contents">
                                <ul class="select select-multiple">
                                    <li>
                                        <div class="price-circle">만원미만</div>
                                    </li>
                                    <li>
                                        <div class="price-circle circle1"></div>
                                        <div class="price-circle">
                                            1만원대
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="price-circle circle2"></div>
                                        <div class="price-circle circle1"></div>
                                        <div class="price-circle">2만원대</div>
                                    </li>
                                    <li class="active">
                                        <div class="price-circle circle3"></div>
                                        <div class="price-circle circle2"></div>
                                        <div class="price-circle circle1"></div>
                                        <div class="price-circle">3만원대</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-region">
                            <div class="filter-title">
                                지역
                                <div class="filter-multiple">
                                    중복 선택 가능
                                </div>
                            </div>
                            <div class="filter-contents">
                                <ul class="region-names select select-tab">
                                    <li region="gn" class="active">강남</li>
                                    <li region="gb">강북</li>
                                    <li region="kg">경기도</li>
                                    <li region="ic">인천</li>
                                    <li region="dg">대구</li>
                                    <li class="tab-more">
                                        더보기 &gt;
                                        <div class="tab-more-box">
                                            <ul class="more-tabs select select-tab">
                                                <li region="bs">부산</li>
                                                <li region="jj">제주</li>
                                                <li region="dj">대전</li>
                                            </ul>
                                            <div class="tab-more-arrow"></div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="regions">
                                    <ul region="gn" class="region-details select select-multiple">
                                        <li>강남역</li>
                                        <li class="active">가로수길</li>
                                        <li>신사/압구정</li>
                                        <li>청담동</li>
                                        <li>신천/잠실</li>
                                        <li class="active">여의도</li>
                                    </ul>
                                    <ul region="gb" class="region-details select select-multiple">
                                        <li>홍대</li>
                                        <li class="active">이태원/한남동</li>
                                        <li>광화문</li>
                                        <li>신촌/이대</li>
                                        <li>마포</li>
                                        <li class="active">종로</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="filter-food">
                            <div class="filter-title">
                                음식종류
                                <div class="filter-multiple">
                                    중복 선택 가능
                                </div>
                            </div>
                            <div class="filter-contents">
                                <ul class="select select-multiple">
                                    <li>
                                        <div class="food-circle">한식</div>
                                    </li>
                                    <li class="active">
                                        <div class="food-circle">일식</div>
                                    </li>
                                    <li>
                                        <div class="food-circle">중식</div>
                                    </li>
                                    <li>
                                        <div class="food-circle">양식</div>
                                    </li>
                                    <li>
                                        <div class="food-circle">세계음식</div>
                                    </li>
                                    <li>
                                        <div class="food-circle">뷔페</div>
                                    </li>
                                    <li>
                                        <div class="food-circle">까페</div>
                                    </li>
                                    <li class="active">
                                        <div class="food-circle">주점</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-parking">
                            <div class="filter-title">
                                주차
                            </div>
                            <div class="filter-contents">
                                <ul class="select select-single">
                                    <li class="active">상관없음</li>
                                    <li>가능한 곳만</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="sf-buttons">
                        <button class="cancel-filter">취소</button><!--
                     --><button class="apply-filter">적용</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer jsName='search'}}
